body {
    font-family: Arial, sans-serif;
    background-color: #a8d78d97;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 216, 231, 0.548);
    height: 550px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.converter-box {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 8px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"],
select {
    width: 70%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 30%;
    padding: 15px;
    background-color: #0051ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
}

.result h2 {
    font-size: 18px;
    color: #333;
}

.result p {
    font-size: 18px;
    color: #000000;
}